:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #dddddd;
  --box-bg-color: #f0f0f0;
  font-size: clamp(0.1rem, 2.5vw, 1rem);
}

.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --border-color: #333333;
  --box-bg-color: #444444;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.default-page {
  width: 100%;
}

.app-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.brand-link,
.menu-link {
  text-decoration: none;
  color: var(--text-color);
  margin: 1rem;
}

.contact-link {
  display: flex;
  color: var(--text-color);
  font-size: 1rem;
  align-items: center;
  text-decoration: none;
  padding: 0.4rem 0.4rem;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
}

.contact-logo {
  width: clamp(0.1rem, 2vw, 15px);
  height: clamp(0.1rem, 2vw, 15px);
  margin-right: 0.5rem;
}
